<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Recebemos um email de contato com a descrição:</p>
  <p>
    <p>{{description}}</p>
  </p>
  <p>Em breve daremos um retorno</p>
  <p>
    Obrigado!<br />
    <strong>Equipe Connectionrh</strong>
  </p>
</div>