<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{companyName}}</p>
  <p>
    <p>{{status}} para a vaga {{vacancyTitle}} agendada com {{userName}}</p>
  </p>
  <p>O link para a sala é {{roomId}}</p>
  <p>A entrevista será realizada na data {{date}}</p>
  <p>
    Obrigado!<br />
    <strong>Equipe Connectionrh</strong>
  </p>
</div>